# 注意：此项目基于 Python 3.8 开发，请确保所有依赖包版本与 Python 3.8 兼容
# Warning: This project is based on Python 3.8, please ensure all package versions are compatible with Python 3.8
uvicorn==0.22.0
fastapi==0.67.0
python-multipart==0.0.9
aiofiles==23.2.1
requests==2.32.3
boto3
oss2>=2.18.0
python-dotenv==1.0.0
